html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    height: 25px;
    margin-bottom: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.search {
    display: flex;
    border-radius: .8rem;
    padding: 5px;
    background-color: #A4A69C;
}

.search input {
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #A4A69C;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    padding-left: 25px;
    width: 20%;
    height: 100%;
    background-color: #232625;
}

#sidebar ul img {
    margin-right: .8rem;
}

#closed-sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    padding-left: 20px;
    width: 3%;
    height: 100vh;
    background-color: #232625;
}

#closed-sidebar button,
#sidebar button {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: #232625;
}

#closed-logout {
    margin-bottom: 1rem;
}

#user-image {
    height: 35px;
    margin-right: .8rem;
    border-radius: .5rem;
}

#logout {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#logout p {
    margin: 0;
    color: #fff;
}

#logout img:last-child {
    margin-left: 7rem;
}