html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /* height: 100vh; */
}

#sidebar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    width: 20%;
    background-color: #8EA8BF;
    color: #fff;
    display: none;
}

#content {
    margin-left: 0.8rem;
    padding: 15px;

}

#content #header {
    display: flex;
    justify-content: space-between;
}

#content ul {
    padding: 0;
}

#content ul li {
    display: flex;
    list-style: none;
    padding: 15px;
    margin-bottom: .8rem;
    border-radius: 25px;
}

#content li:hover {
    background-color: #3B4B59;
}

#sidebar_search {
    background-color: #3B4B59;
}

#content a {
    text-decoration: none;
    color: #fff;
}

#content input {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    background-color: #3B4B59;
}

#content .sidebar_image {
    margin-right: .8rem;
}

#logout {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #3B4B59;
}

#user_info {
    display: flex;
}

#user_info h2,
p {
    margin: 0;
}

#user_image {
    margin-right: .8rem;
    border-radius: 20px;
    height: 65px;
    width: 65px;
}

/* closed sidebar */

#closed_sidebar {
    height: 100vh;
    width: 7.5vh;
    /* display: none; */
}

#closed_sidebar_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#closed_sidebar_content img:last-child {
    background-color: green;
}

#closed_sidebar img {
    width: 30px;
}